.m-overlay
{
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 9999999;
  	 background: rgba(0, 0, 0, 0.5);
  	 border-radius: 3px;
  	 overflow: hidden;
}

.m-overlay > .m-overlay-text
{
	position: relative;
  	top: 50%;
  	left: 30%;
  	margin-left: -15px;
  	margin-top: -15px;
  	color: #fff;
  	font-size: 30px;
}

.message_header
{
	position: absolute;
	 top: 0;
	 right: 0;
	 min-width: 200px;
	 min-height: 200;
	 z-index: 9999999;
  	 border-radius: 3px;
}

.btn-flat,.flat-input,.flat-element,.alert
{
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}

.form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}

.form-group.required .ctl:after { 
    color: #d00;
    content: "*";
    margin-left: 8px;
    top:7px;
}

.ui-datepicker{
	z-index: 9999999 !important;
}

.mjs-nestedSortable-error {
	background: #fbe3e4;
	border-color: transparent;
}


ol.sortable {
	width: 100%;
	padding-left: 25px;
	margin-top: 5px;
}

ol.sortable,ol.sortable ol {
	list-style-type: none;
}

.sortable li div {
	margin-bottom: 4px;
}

.mjs-placeholder {
	outline: 1px dashed #4183C4;
}

.menu-title
{
	width: 100%;
	background-color: #dad7dd;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    min-height: 20px;
    overflow: hidden;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.menu-title > .menu-title-anchor
{
	float: right;
}

.menu-title > .menu-title-anchor > a
{
	margin-left: 5px;
}

.sticky-access
{
	width: 46px;
    position: fixed;
    top: 10%;
    right: 0;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    z-index: 50;
    background: #fff;
    -webkit-box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
    box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 3px 0 0 3px;
}

.sticky-access-item
{
	margin: 0;
    padding: 5px;
    text-align: center;
}

.sticky-access-group
{
	column-count: 4;
  	column-gap: 4rem;
  	list-style: none;
}